/* Preload fonts */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2') format('woff2'),
       url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff') format('woff'),
       url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff2') format('woff2'),
       url('/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff') format('woff'),
       url('/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2') format('woff2'),
       url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff') format('woff'),
       url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff2') format('woff2'),
       url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff') format('woff'),
       url('/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --ff-body: 'IBM Plex Sans', sans-serif;
  --ff-mono: 'IBM Plex Mono', monospace;

  --fs-lg: clamp(2rem, 5vh + 1rem, 5rem);
  --fs-md: 1.5rem;
  --fs-sm: 1rem;

  --fw-regular: 400;
  --fw-bold: 700;

  --color-teal: #16BAC5;
  --color-red: #C84630;
  --color-yellow: #EA9010;
  --color-purple: #C179B9;
  --color-green: #447604;
  --color-grey: #666666;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  --border-radius-sm: 0.2rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.3rem;

  --animation-duration-fast: 0.3s;
  --animation-duration-slow: 1s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* CandidateCard.css */
.candidate-card {
  display: flex;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.candidate-card-headshot {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.candidate-card-headshot img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.candidate-card-details {
  flex: 2;
  padding: 16px;
}

.candidate-card-details h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.candidate-card-details a {
  color: #0066cc;
  text-decoration: none;
}

.candidate-card-details a:hover {
  text-decoration: underline;
}
