/* Grid + Content Layout */
.grid {
  display: grid;
  width: 100%;
  gap: 0px;
  border-radius: 10px; /* Add curved corners */
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  border-radius: var(--border-radius-md); /* Add border radius */
  background-color: lightgray;
}
.gridHeader {
  grid-template-columns: 1.62fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: 
  "name profile-pic"
  "website profile-pic";
}
.gridPolitigram {
  grid-template-columns: 1.41fr 1fr; /* Set the width of grids */
  grid-template-rows: 5vh 15vh;
  grid-template-areas: 
  "header politigram-text"
  "politigram politigram-text";
}

/* Grid Box Styles */
.gridItem {
  padding: 0; /* No padding */
  text-align: center; /* Center text */
}
.gridItemName { 
  grid-area: name; 
  align-items: center;
}
.gridItemWebsite {
  grid-area: website;
}
.gridItemProfile {
  grid-area: profile-pic;
  width: 100%; /* Set width to fill the grid box */
  height: 100%; /* Set height to fill the grid box */
  overflow: hidden; /* Clip any overflow */
  position: relative; /* Positioning context for absolute children */
  max-width: 200px; /* Set maximum width to 100px */
  justify-self: end;
}
.gridItemHeader { grid-area: header; }
.gridItemPolitigram {
  grid-area: politigram;
  width: 100%;
  height: 100%;
  position: relative; /* Ensure it can contain absolutely positioned children */
}
.gridItemPolitigramText {
  grid-area: politigram-text; 
  transition: opacity 0.1s ease-in-out, box-shadow 0.3s ease-in-out, color 0.1s ease-in-out;
}

/* Header */
.profile {
  max-width: 100%; 
  height: auto;
}
.link {
  color: black; /* Set link color to black */
  text-decoration: none; /* Remove underline */
}

/* List */
.priorities {
  border-radius: 10px;
  border: black solid;
}
.list {}
.listItem {}

/* Background */
.background {
  border-radius: 10px;
  border: black solid;
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
      color: black;
  }
  50% {
      transform: scale(1.1);
      color: #222222;
  }
}
/* Text Styles */
.text {
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  font-family: var(--ff-body);
}
.textHeader {
  font-size: var(--fs-md); /* Set font size as a fraction of the viewport */
  font-weight: var(--fw-bold); /* Bold for headers */
}
.textPolitigram {
  font-size: var(--fs-md);
  z-index: 5;
}
.textHighlighted {
  opacity: 0; /* Start hidden */
  transition: var(--animation-duration-fast) ease-in-out;
  border-radius: 5px;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}
.textPulse {}