/* Grid + Content Layout */
.grid {
  display: grid;
  width: 100%;
  gap: 0px;
  /* margin-top: var(--spacing-md); */
  /* margin-bottom: var(--spacing-md); */
  background-color: #DDDDDD;
}
.gridHeader {
  grid-template-columns: 1fr 1.41fr; /* Changed from 1fr 1.62fr */
  grid-template-rows: auto auto;
  grid-template-areas: 
    "profile-pic name"
    "profile-pic website";
}
/* Ensure the parent div expands to fit the height of its children */
.gridPolitigram {
  display: grid;
  grid-template-columns: 1.41fr, 1fr;
  grid-template-areas:
    "politigram politigram-text";
}

/* Ensure the child items take up the necessary space */
.gridItem {
  flex: 1;
}

.gridItemName { 
  grid-area: name; 
  align-items: start; /* Changed from center to start */
}

.gridItemWebsite {
  grid-area: website;
  align-self: start; /* Aligns the website to the top of its grid area */
}

.gridItemProfile {
  grid-area: profile-pic;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  justify-self: start; /* Changed from end to start */
  border-radius: 5px;
  padding: 5px;
}

.gridItemPolitigram {
  grid-area: politigram;
  overflow: visible; /* Allow content to overflow */
  width: 58vw;
  height: 58vw;
}

.gridItemHeader {
  grid-area: header;
  z-index: 1;
}

.gridItemPolitigramText {
  grid-area: politigram-text; 
  transition: opacity 0.1s ease-in-out, box-shadow 0.3s ease-in-out, color 0.1s ease-in-out;
}

/* Header */
.profile {
  max-width: 100%; 
  height: auto;
  border-radius: 20px;
  padding: 5px;
}
.link {
  color: #888888;
  background-color: white;
  padding: 7px;
  border-radius: 15px;
  margin: 5px;
  border: 1px solid #888888;
  text-decoration: none; /* Remove underline */
  overflow-wrap: break-word; /* Ensure text wraps */
  word-break: break-all; /* Break words if necessary */
  white-space: normal; /* Allow text to wrap */
  display: inline-block; 
}

/* List */
.priorities {
  border-radius: 10px;
  /* border: black solid; */
}
.list {}
.listItem {}

/* Background */
.background {
  border-radius: 10px;
  /* border: black solid; */
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
      color: black;
  }
  50% {
      transform: scale(1.1);
      color: #222222;
  }
}
/* Text Styles */
.text {
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  font-family: var(--ff-body);
}
.textHeader {
  font-size: var(--fs-md); /* Set font size as a fraction of the viewport */
  font-weight: var(--fw-bold); /* Bold for headers */
}
.textPolitigram {
  font-size: var(--fs-md);
  overflow-wrap: break-word; /* Ensure text wraps */
  word-break: break-all; /* Break words if necessary */
  border-radius: 5px;
  color: white;
  padding: 5px;
  transition: background-color 0.3s ease-in-out; 
}
.textHighlighted {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 5px;
  padding: 2px 0;
  color: white;
}

.glow {
  animation: glow 2.5s infinite ease-in-out;
  font-size: var(--fs-md);
  border-radius: 5px;
  padding: 5px;
}

@keyframes glow {
  0% {
    color: #444444;
  }
  50% {
    color: #999999;
  }
  100% {
    color: #444444;
  }
}