/* Grid + Content Layout */
.grid {
  display: grid;
  gap: 0px;
  background-color: #E5E7EB;
  border-radius: 10px;
}

.gridHeader {
  display: grid;
  grid-template-columns: auto 1fr; /* Adjust columns to fit content and fill remaining space */
  grid-template-rows: auto auto;
  grid-template-areas: 
    "profile-pic name"
    "profile-pic website";
  gap: 0; /* Remove any gap between grid items */
}

/* Ensure the parent div expands to fit the height of its children */
.gridPolitigram {
  display: grid;
  grid-template-columns: 1.41fr 1fr;
  grid-template-areas:
    "politigram politigram-text";
}

/* Ensure the child items take up the necessary space */
.gridItem {
  flex: 1;
}

.gridItemImage {
  grid-area: profile-pic;
  width: 91px;
  padding: 5px;
  margin: 0;
  border-radius: 10px;
}
.gridItemName {
  grid-area: name;
  padding: 4px;
  margin: 0;
}

.gridItemWebsite {
  grid-area: website;
  align-self: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.gridItemProfile {
  grid-area: profile-pic;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  justify-self: start;
  border-radius: 5px;
  padding: 5px;
}

.gridItemPolitigram {
  grid-area: politigram;
  overflow: hidden;
}

.gridItemPolitigramText {
  grid-area: politigram-text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Header */
.profile {
  max-width: 100%; 
  height: auto;
  border-radius: 20px;
  padding: 5px;
}

.link {
  color: #888888;
  background-color: white;
  padding: 7px;
  border-radius: 15px;
  margin: 5px;
  border: 1px solid #888888;
  text-decoration: none; /* Remove underline */
  overflow-wrap: break-word; /* Ensure text wraps */
  word-break: break-all; /* Break words if necessary */
  white-space: normal; /* Allow text to wrap */
  display: inline-block; 
}

/* List */
.priorities {
  border-radius: 10px;
  /* border: black solid; */
}
.list {}
.listItem {}

/* Background */
.background {
  border-radius: 10px;
  /* border: black solid; */
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
      color: black;
  }
  50% {
      transform: scale(1.1);
      color: #222222;
  }
}
/* Text Styles */
.text {
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  font-family: var(--ff-body);
}
.textHeader {
  font-size: var(--fs-md); /* Set font size as a fraction of the viewport */
  font-weight: var(--fw-bold); /* Bold for headers */
}
.textPolitigram {
  font-size: var(--fs-md);
  overflow-wrap: break-word; /* Ensure text wraps */
  word-break: break-all; /* Break words if necessary */
  border-radius: 5px;
  color: white;
  padding: 5px;
  transition: background-color 0.3s ease-in-out; 
}
.textHighlighted {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 5px;
  padding: 2px 0;
  color: white;
}

.glow {
  animation: glow 2.5s infinite ease-in-out;
  font-size: var(--fs-md);
  border-radius: 5px;
  padding: 5px;
}

@keyframes glow {
  0% {
    color: #444444;
  }
  50% {
    color: #999999;
  }
  100% {
    color: #444444;
  }
}